body {
    margin: 3%;
    display: grid;
    grid-template-areas: "title title title"
                         "menu  menu  menu";
}

header {
    display: grid;
    grid-area: title;
    justify-items: center;
}

main {
    grid-area: menu;
}

aside {
    grid-area: cart;
    position: fixed;
    top: 150px;
    bottom: auto;
    right: 0;
    background: burlywood;
    height: auto;
    max-width: 400px;

    & #form-carrito {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.plato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid gray;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 50px;
    position: relative;
    gap: 2rem;
    justify-content: space-between;

    & img {
        aspect-ratio: 1 / 1;
        object-fit: cover;
        width: 10rem;
        border: 1px solid orange;
        border-radius: 0.5rem;
    }
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1.5rem;
}

main>h2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

form {
    background: beige;
    display: grid;
    justify-items: center;
    justify-content: space-around;
}

button {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 15px 25px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
